*.hxx linguist-language=C++
*.cxx linguist-language=C++
*.h linguist-languauge=C++
*.c linguist-languauge=C++
*.swift linguist-language=Swift
*.vcxproj -linguist-vendored
*.vcxproj.* -linguist-vendored
*.sln -linguist-vendored
*.md -linguist-vendored


